<h1> New Game</h1>
<%= @letters %>

<p>What is the longest word you can find ?</p>
<form action="/new" method="post">
  <input type="text" name="word" placeholder="Enter a word">
  <input type="submit" value="Play" class="btn btn-danger">
</form>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>